.project-index {
	& .top {
		background-image: url(/assets/bg.svg);
		background-repeat: no-repeat;
		background-size: contain
	}

	& .showcase {
		max-width: 45vw;

		& > div > *:not(.ps__rail-x) {
			box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
			background: #f6f5f7
		}

		& .scrollbar-track-y {
			display: none !important
		}

		& .scrollbar-track-x {
			bottom: 30px;
		}
	}
}

.left .ps__rail-x {
	margin-left: 200px;
	margin-right: 80px;
	height: 3px
}

.right .ps__rail-x {
	margin-right: 200px;
	margin-left: 80px;
	height: 3px
}